@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-out {
    opacity: 0;
    animation: fadeInOut 2s ease-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}