@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-out {
    opacity: 0;
    animation: fadeInOut 2s ease-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}